/* category.css */

.table-view {
    -fx-border-color: #D3D3D3;
    -fx-border-width: 1px;
}

.table-view .column-header {
    -fx-background-color: #b5a187;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.table-view .cell {
    -fx-background-color: #FFFFFF;
    -fx-font-size: 12px;
    -fx-text-fill: #333333;
}

.table-view .cell:selected {
    -fx-background-color: #009688;
    -fx-text-fill: #FFFFFF;
}

.table-view .column-header-background {
    -fx-background-color: #f5f5f5;
}

/* Styling the vertical scrollbar */
.table-view .scroll-bar:vertical {
    -fx-background-color: transparent; /* Background color of the scrollbar track */
    -fx-background-insets: 0; /* Padding inside the scrollbar track */
    -fx-border-color: transparent; /* Border color around the scrollbar track */
    -fx-pref-width: 10px; /* Width of the vertical scrollbar */
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #b1a786; /* Color of the scrollbar thumb */
    -fx-background-insets: 0; /* Padding inside the scrollbar thumb */
    -fx-background-radius: 5px; /* Rounded corners for the thumb */
    -fx-pref-height: 60px; /* Height of the vertical scrollbar thumb */
}

.table-view .scroll-bar:vertical .thumb:hover {
    -fx-background-color: #8e7d64; /* Darker color when hovering over the scrollbar thumb */
}

.table-view .scroll-bar * {

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}
