.topBackground-color{
    -fx-background-color: #BBAFA8;
}

.navBar:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-effect: dropshadow(gaussian, rgba(200, 113, 227, 0.9), 8, 0.5, 0, 0); /* Glow effect */
}


/* Hover effect - text glow */
.logout_nav:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.9), 8, 0.5, 0, 0); /* Glow effect */
    -fx-scale-x: 1.05; /* Slightly enlarge the button */
    -fx-scale-y: 1.05; /* Slightly enlarge the button */
}


.logo:hover {
    -fx-scale-x: 1.2; /* Slightly enlarge the logo */
    -fx-scale-y: 1.2; /* Slightly enlarge the logo */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0.5, 0, 0); /* Shadow effect */
    -fx-rotate: 5; /* Slight rotation */
    -fx-z-index: 10;
}

.orderNav{
    -fx-background-color: rgba(228, 221, 214, 0.9);
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
    -fx-z-index: 2;
}

.button{
    -fx-background-insets: 0, 0, 1, 2;
}

.button:focused {
    -fx-background-insets: 0, 0, 1, 2;
}

.exitButton:hover{
    -fx-text-fill: #8e7d64;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.categoryButton {
    -fx-background-image: url("/images/wooden_button.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 90% 110%;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.categoryButton:hover {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-effect: dropshadow(gaussian, rgb(232, 219, 192), 10, 0.5, 0, 0);
}


.legendTable {
    -fx-background-color: #e2e8e8;
    -fx-border-color: #b0bec5;
    -fx-border-width: 2;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.legendTable .hbox {
    -fx-spacing: 10;
    -fx-alignment: center-left;
}

.legendTable .label {
    -fx-font-family: "Consolas";
    -fx-font-size: 11px;
    -fx-text-fill: #333333;
}

.legendTable .rectangle {
    -fx-arc-height: 5;
    -fx-arc-width: 5;
    -fx-stroke-width: 0;
    -fx-width: 32px;
    -fx-height: 25px;
}

.legendTable .hbox .label {
    -fx-padding: 0 0 0 10;
}

.tablePane {
    -fx-background-color: rgba(228, 221, 214, 0.9);
    -fx-background-radius: 20;
    -fx-border-radius: 20;
    -fx-padding: 10;
}

.currentOrderPane{
    -fx-background-color: rgba(228, 221, 214, 0.9);
}

.backgroundImage {
    -fx-background-image: url("/images/background.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.paymentPane {
    -fx-background-color: transparent;
    -fx-background-image: url("/images/Background_Paper.png");
    -fx-background-size: cover;
    -fx-background-position: center;
}

.posTableView {
    -fx-background-color: transparent;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.posTableView .column-header-background {
    -fx-background-color: #9e9a9a;
}

.posTableView .column-header {
    -fx-background-color: #b5afaf;
    -fx-text-fill: white;
    -fx-font-size: 10px; /* Increased font size */
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.posTableView .table-row-cell {
    -fx-background-color: rgba(255, 255, 255, 0.9);
    -fx-border-color: #CCCCCC;
    -fx-border-width: 0 0 1px 0;
}

.posTableView .table-row-cell:odd {
    -fx-background-color: rgba(245, 245, 245, 0.9);
}

.posTableView .table-cell {
    -fx-padding: 2px;
    -fx-font-size: 10px;
    -fx-text-fill: #333333;
    -fx-alignment: center-left;
}

.posTableView .table-cell:filled {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.posTableView .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
}

.changeTextField{
    -fx-background-color: #b7cae4;
}

.receiptTable {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.receiptTable .column-header-background {
    -fx-background-color: transparent;
}

.receiptTable .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-padding: 5px;
    -fx-wrap-text: true;
}

.receiptTable .table-row-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: transparent;
}

.receiptTable .table-cell {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: transparent;
}

.receiptTable .scroll-bar:vertical, .receiptTable .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}
